/* @import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@600&family=Fira+Sans+Condensed&display=swap'); */

/* .board-wrapped {
    background-color: yellow;
    width: 451px; 
    height: 521px;
} */

.bg-board {
    background-color: rgb(26, 194, 11);
    position: relative;
    left: 35%;
    /* top: 35%; */
    width: 450px;
    height: 550px;
}

.bg-board p{
    position: absolute;
    margin-top: 25px;
    color: black;
    font-size: 25px;
    left: 41%;
}

.bg-board img{
    width: 30px;
    position: absolute;
    top: 5%;
    left: 5%;
}

.score-wrapped canvas {
    position: absolute;
    left: 75%;
}

.score-wrapped p{
    position: absolute;
    left: 75%;
    color: black;
    font-size: 25px;
}

#snakeBoard {
    background-color: rgb(30, 85, 25);
    position: relative;
    left: 5%;
    top: 20%;
}

.speed p{
    font-size: 25px;
    top: 8%;
    left: 2%;
}